<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
      <% if (message) { %>
        <h3>Error! <%= message %></h3>
      <% } else { %>
        <h3>Error! An unexpected error occurred.</h3>
      <% } %>
    </div>
  </div>