<div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <% if (reference ) { %>
        <h3>Your Reference (<%= reference %>) ID has been processed.</h3>
      <% } else { %>
        <h3>Success!</h3>
      <% } %>
    </div>
  </div>